{% extends "common/emails/base_email.html" %}
{% load i18n %}
{% block title %}{% trans "Your Data Export is Ready" %}{% endblock %}
{% block content %}
    <p>{% blocktrans %}Hi {{ user.username }},{% endblocktrans %}</p>
    <p>{% blocktrans %}Your data export from Revel is ready to be downloaded.{% endblocktrans %}</p>
    <p>
        {% blocktrans %}You can download your data by clicking the following link:{% endblocktrans %}
        <a href="{{ download_url }}">{% trans "Download Your Data" %}</a>
    </p>
    <p>{% blocktrans %}This link is valid for a limited time. If you did not request this export, please ignore this email or contact support.{% endblocktrans %}</p>
    <p>
        {% blocktrans %}Best,<br>
        The Revel Team{% endblocktrans %}
    </p>
{% endblock %}
