{% extends "common/emails/base_email.html" %}
{% load i18n %}
{% block title %}{% trans "Your Revel email address has been changed" %}{% endblock %}
{% block content %}
    <h2>{% trans "Your Revel email address has been changed" %}</h2>
    <p>{% blocktrans %}This is a confirmation that the email address on your Revel account has been changed from <strong>{{ old_email }}</strong> to <strong>{{ new_email }}</strong>.{% endblocktrans %}</p>

    <p>{% blocktrans %}All other sessions have been signed out as a security precaution. From now on, sign in using your new address.{% endblocktrans %}</p>

    <p>{% blocktrans %}If you did not authorise this change, contact support immediately.{% endblocktrans %}</p>

    <p>{% blocktrans %}Thank you,<br>The Revel Team{% endblocktrans %}</p>
{% endblock %}
